<div id="question">
    <form class="rounded-lg border border-gray-500 shadow-sm bg-gray-800 my-4 p-4" hx-post="/survey/{{.ID}}"
        hx-target="#question">
        <h3 class="text-2xl font-semibold leading-none tracking-tight text-white mb-4">
            {{.OrderingQuestion.Question}}
        </h3>
        <p class="italic">Drag and drop each answer to rank order them from top to bottom</p>

        <ol id="answers" class="p-6 text-gray-200">
            {{range $index, $answer := .OrderingQuestion.Answers}}
            <li draggable="true" class="draggable p-2 mt-2 border-gray-500 border rounded cursor-move ">
                <svg class="inline" fill="rgb(107 114 128)" version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="32px" height="32px" viewBox="0 0 32 32"
                    xml:space="preserve">
                    <title>draggable</title>
                    <rect x="10" y="6" width="4" height="4" />
                    <rect x="18" y="6" width="4" height="4" />
                    <rect x="10" y="14" width="4" height="4" />
                    <rect x="18" y="14" width="4" height="4" />
                    <rect x="10" y="22" width="4" height="4" />
                    <rect x="18" y="22" width="4" height="4" />
                </svg>
                <span>{{$answer}}</span>
                <input type="hidden" name="answer" value="{{$answer}}">
            </li>
            {{end}}
        </ol>

        <button type="submit"
            class="w-full p-4 text-lg font-semibold text-white bg-blue-500 rounded-lg shadow-lg hover:bg-blue-600">
            Submit
        </button>
    </form>

    <script>
        const items = document.querySelectorAll('.draggable');
        let draggedItem = null;
        let placeholder = document.createElement('li');
        placeholder.className = 'placeholder';

        items.forEach(item => {
            item.addEventListener('dragstart', function (e) {
                draggedItem = item;
                placeholder.style.height = `${item.offsetHeight}px`;
                item.parentNode.insertBefore(placeholder, item.nextSibling);
                setTimeout(() => item.style.display = 'none', 0);
            });

            item.addEventListener('dragend', function () {
                item.style.display = 'block';
                placeholder.replaceWith(draggedItem);
                draggedItem = null;
            });
        });

        const list = document.getElementById('answers');
        list.addEventListener('dragover', function (e) {
            e.preventDefault();
            const currentHoveredItem = e.target.closest('.draggable');
            if (currentHoveredItem && draggedItem !== currentHoveredItem) {
                adjustPlaceholderPosition(currentHoveredItem);
            }
        });

        list.addEventListener('drop', function (e) {
            e.preventDefault();
            if (draggedItem) {
                placeholder.replaceWith(draggedItem);
                draggedItem.style.display = 'block';
                draggedItem = null;
            }
        });

        function adjustPlaceholderPosition(currentHoveredItem) {
            const allItems = Array.from(document.querySelectorAll('.draggable'));
            const indexDragged = allItems.indexOf(draggedItem);
            const indexHovered = allItems.indexOf(currentHoveredItem);
            if (indexHovered > indexDragged) {
                currentHoveredItem.parentNode.insertBefore(placeholder, currentHoveredItem.nextSibling);
            } else {
                currentHoveredItem.parentNode.insertBefore(placeholder, currentHoveredItem);
            }
        }
    </script>
</div>
