<!DOCTYPE html>
<html lang="en">

{{template "head.html" .}}

<body class="bg-gray-900 text-white" hx-boost="true">
    {{template "nav.html" .}}

    <div class="mx-auto max-w-2xl space-y-4">
        <h1>Survey Complete</h1>
        <p>
            Thank you so much for completing this year's survey! Your answers have been recorded safely.
        </p>
        <p>
            If you would like to be notifed when the results are published, just click the button below. Otherwise, you
            are free to close this page.
        </p>
    </div>
</body>

</html>
